<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cart</title>
  </head>
  <style>
    .content-div{
      width: 70%;
     margin-left: 20px;
     margin-top: 30px;
     
    } 
    img {
     
      margin-left: 30px;
      margin-top: 20px;
      box-shadow: 0px 0px 2px rgb(129, 12, 12);
    
      }
      #box h2{
        font-family: sans-serif;
       margin-left: 50px;
       padding: 5px;
       color: rgb(129, 12, 12);
       margin-top: 40px;
       
      }
      #box h3{
        font-family: sans-serif;
       margin-left: 50px;
       padding: 5px;
       color: rgb(129, 12, 12);
       margin-top: 5px;
       
      }
       #box >div {
        display: flex;
       }
       button{
        margin-left: 90px;
       }
      
  </style>
  <body>
    <%- include('nav') %>
   <div class="container">
    <div id="box">
    </div>
    <!-- <div id="box1"></div> -->
   </div>
   <%- include('footer') %>
  </body>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>
      const updateQty = (id, qty) => {
    fetch(`/product/cart/update/${id}`, {
        method: "PATCH",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ qty })
    })
        .then((res) => res.json())
        .then((response) => get())
        .catch((err) => console.log(err))
}

const handlePayment = async (amount) => {
    let res = await fetch("/product/payment", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ amount: amount })
    })
    let order = await res.json()
    console.log(order);
    let options = {key: "rzp_test_K5oH0ht3uj6cTB", amount: order.amount }
    let razorpay = new Razorpay(options)
    razorpay.open()
}
      const display = (data) => {
        let totalprice=0
      document.getElementById("box").innerHTML = "";
      // document.getElementById("box1").innerHTML = "";
      data.map((element) => {
        let ele=element.productID
        console.log(ele);
        totalprice += ele.price * element.qty
        let img = document.createElement("img");
        img.src = ele.img;
        img.style.width = "250px";
        img.style.height = "250px";
        let title = document.createElement("h2");
        title.innerHTML = ele.title;
        let price = document.createElement("h3");
        price.innerHTML = `$${ele.price}`;
        let btn2 = document.createElement("button");
        btn2.innerHTML = "+";
        btn2.addEventListener("click", () => updateQty(element._id, +1));
        let btn1 = document.createElement("button");
        btn1.innerHTML = "-";
        btn1.addEventListener("click", () => updateQty(element._id, -1));
        let qty = document.createElement("button");
        qty.innerHTML = `QTY ${element.qty}`;
        

        let div = document.createElement("div");
        div.append(img);
      document.getElementById("box").append(div);
      let div2 = document.createElement("div");
        div2.append(title, price, btn2,qty,btn1);
        document.getElementById("box").append(div2);
        let div3 = document.createElement("div");
        div3.append(div,div2);
        document.getElementById("box").append(div3);
      });

      let priceBtn = document.createElement("button")
    priceBtn.innerHTML = `Total Price: $ ${totalprice}`
    document.getElementById("box").append(priceBtn)
    priceBtn.addEventListener("click", () => handlePayment(totalprice))
    };

    const get=async () => {
    fetch("/product/cartfind")
        .then((response) => response.json())
        .then((response) => display(response))
        // .catch((error) => console.log(error));
}
get()
  </script>
</html>
