<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <style>
      .container {
        max-width: 1140px;
        margin: auto;
      }
      #box {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     margin-top: 50px;
     
    }
      img {
      margin-top: 20px;
      border-radius: 12px;
      margin-left: 40px;
      margin-bottom: 30px;
      box-shadow: 0px 0px 15px rgb(195, 193, 193);
      }
      h2,h3,h4,p,span{
        font-family: sans-serif;
       margin-left: 50px;
       padding: 5px;
       color: rgb(58, 56, 56);
       
      }
    </style>
  </head>
  <body>
    <%- include('nav') %>
    <div class="container">
        <div id="box"></div>
        <div>
  </body>
  <script>

const handlecart = (id) => {
    console.log(id);
    fetch("/product/cart", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ productID: id }),
    })
    .then((response) => response.json())
    .then((data) => console.log(data));
  }


    fetch("/product")
      .then((response) => response.json())
      .then((response) => display(response))
      .catch((error) => console.log(error));

    const display = (data) => {
      console.log(data);
      document.getElementById("box").innerHTML = "";
      data.map((ele) => {
        let img = document.createElement("img");
        img.src = ele.img;
        img.style.width = "300px";
        let title = document.createElement("h2");
        title.innerHTML = `Title:${ele.title}`;
        let price = document.createElement("h3");
        price.innerHTML = `Price:${ele.price}`;
        let desc = document.createElement("p");
        desc.innerHTML = `Desc:${ele.desc}`;
        let category = document.createElement("h3");
        category.innerHTML = `Category:${ele.category}`;
        let size = document.createElement("h4");
        size.innerHTML =`Size:${ele.size}`;
        let stock = document.createElement("span");
        stock.innerHTML = `Stock:${ele.stock}`;
        let colour = document.createElement("p");
        colour.innerHTML = `Colour:${ele.colour}`;
        let btn1 = document.createElement("button");
        btn1.setAttribute("class","hbtn")
        btn1.innerHTML = "Add to Cart";
        btn1.addEventListener("click", () => {
        handlecart(ele._id);
      })
        let div = document.createElement("div");
        div.append(
          img,
          title,
          price,
          desc,
          category,
          size,
          stock,
          colour,
          btn1
        );
        document.getElementById("box").append(div);
      });
    };
  </script>
</html>
