<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/all.min.css"> 
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
   
</head>
<body>
    <%- include('nav') %>
    <div>
        <a href="#" class="backtotop">
            <i class="fa-solid fa-arrow-up"></i>
        </a>
    </div>
    <!-- banner -->
      <section>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="banner-img">
                    <img src="/img/slider-3.jpg" alt="">
                    <div class="overlay">
                    </div>
                    <div class="banner-content">
                        <h2 class="open">Be smart with a <br><span>Smartwatch</span></h2>
                        <!-- <p class="open p-open">Delivering great items for more than 22 years!</p> -->
                       <div class="shopbtn">
                        <button><a href="/product/shop">SHOP NOW</a></button>
                       </div>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="banner-img">
                    <img src="/img/slider-2.jpg" alt="">
                    <div class="overlay">
                    </div>
                    <div class="banner-content">
                        <h2 class="open">The laptop with<br><span>Personality</span></h2>
                        <!-- <p class="open p-open">Delivering great items for more than 22 years!</p> -->
                       <div class="shopbtn">
                        <button><a href="/product/shop">SHOP NOW</a></button>
                       </div>
                    </div>
                </div>
            </div>
              <div class="swiper-slide">  <div class="banner-img">
                <img src="/img/slider-1.jpg" alt="">
                <div class="overlay">
                </div>
                <div class="banner-content">
                    <h2 class="open">World first green<br><span>Earbud</span></h2>
                    <!-- <p class="open p-open">Delivering great items for more than 22 years!</p> -->
                   <div class="shopbtn">
                    <button><a href="/product/shop">SHOP NOW</a></button>
                   </div>
                </div>
            </div>
        </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
      
      
      </section>



 <!-- gellary -->
    <section>
        <div class="container">
                <div class="img-pro row">
                    <div class="w-33 gellary">
                        <a href="/product/shop"><img src="/img/gellary-2.jpg" alt=""></a>
                            <div class="img-text">
                                <h1>Exclusive<br>collection</h1>
                                <a href="/product/shop">SHOP NOW</a>
                            </div>
                    
                   </div>
                
               <div class="w-33 gellary">
                <a href="/product/shop"><img src="/img/i-1.jpg" alt=""></a>
                    <div class="img-text">
                        <h1>Amazing<br>earbuds</h1>
                        <a href="/product/shop">SHOP NOW</a>
                    </div>
            
           </div>
           <div class="w-33 gellary">
            <a href="/product/shop"><img src="/img/gellary-3.jpg" alt=""></a>
                <div class="img-text">
                    <h1>Worldwide<br>camera</h1>
                    <a href="/product/shop">SHOP NOW</a>
                </div>
        
       </div>
                        </div>
                </div> 
    </section>

    <!-- trending -->
    <section>
        <div class="container">
            <div class="section-title">
                <h2 class="text-center2">Trending products</h2>
            </div>
            <div class="trending-product row">
                <div class="w-25">
                    <div class="main-box">
                        <div class="first-img">
                            <a href="/product/shop"><img src="/img/tr-1.jpg" alt=""></a>
                        </div>
                        <div class="second-img">
                            <a href="/product/shop"><img src="/img/tr-1(2).jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="trending-products">
                        <h4>Smart phone</h4>
                        <p>1000$</p>
                        <div class="row tr-icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="w-25">
                    <div class="main-box">
                        <div class="first-img">
                            <a href="/product/shop"><img src="/img/tr-2.jpg" alt=""></a>
                        </div>
                        <div class="second-img">
                            <a href="/product/shop"><img src="/img/tr-2(2).jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="trending-products">
                        <h4>Tablet keyboard</h4>
                        <p>3000$</p>
                        <div class="row tr-icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="w-25">
                    <div class="main-box">
                        <div class="first-img">
                            <a href="/product/shop"><img src="/img/tr-3.jpg" alt=""></a>
                        </div>
                        <div class="second-img">
                            <a href="/product/shop"><img src="/img/tr-3(2).jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="trending-products">
                        <h4>Wireless earbuds</h4>
                        <p>1500$</p>
                        <div class="row tr-icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="w-25">
                    <div class="main-box">
                        <div class="first-img">
                            <a href="/product/shop"><img src="/img/tr-4.jpg" alt=""></a>
                        </div>
                        <div class="second-img">
                            <a href="/product/shop"><img src="/img/tr-4(2).jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="trending-products">
                        <h4>headphones</h4>
                        <p>1800$</p>
                        <div class="row tr-icon">
                         <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
             
        </div>
    </section>

    <!-- counter -->

    <section class="counter-bg">
        <div class="container">
            <div class="counter-main row">
                <div class="w-50">
                    <img src="/img/laptop.png" alt="">
                </div>
                <div class="w-50">
                    <div class="counter-content">
                    <h1>Weekly deal</h1>
                    <p>mega sale hurry up!</p>
                    </div>
                <div class="row count">
                    <div class="add2 counter-box counter-content1">
                        <div id="counter">

                        </div>
                        <div class="sedual">
                            <p>Days</p>
                           </div>
                        <!-- <h1>678</h1> -->
                      
                    </div>
                    <div class="add2  counter-box counter-content2">
                        <!-- <h1>9</h1> -->
                        <div id="counter1">
                        </div>
                        <div class="sedual">
                            <p>Hrs</p>
                           </div>
                    </div>
                    <div class="add2  counter-box counter-content3">
                        <!-- <h1>39</h1> -->
                        <div id="counter2">
                        </div>
                        <div class="sedual">
                            <p>Min</p>
                           </div>
                    </div>
                    <div class="add2  counter-box counter-content4">
                        <!-- <h1>44</h1> -->
                        <div id="counter3">
                        </div>
                        <div class="sedual">
                            <p>Sec</p>
                           </div>
                    </div>
                    </div>
                   
                    <div class="collection">
                        <button class="see-collection"><a href="/product/shop">SEE COLLECTION</a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our product -->
    <section>
        <div class="container">
            <div class="section-title">
                <h2 class="text-center2">Our products</h2>
            </div>
            <div class="our-product row">
                <div class="w-25">
                    <div class="main-box">
                        <div class="first-img">
                            <a href="/product/shop"><img src="/img/tr-5.jpg" alt=""></a>
                        </div>
                        <div class="second-img">
                            <a href="/product/shop"><img src="/img/tr-5(2).jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="trending-products">
                        <h4>Phone gimbal</h4>
                        <p>1000$</p>
                        <div class="row tr-icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="w-25">
                    <div class="main-box">
                        <div class="first-img">
                            <a href="/product/shop"><img src="/img/tr-6.jpg" alt=""></a>
                        </div>
                        <div class="second-img">
                            <a href="/product/shop"><img src="/img/tr-6(2).jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="trending-products">
                        <h4>Party speaker</h4>
                        <p>4000$</p>
                        <div class="row tr-icon">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        </div>
                    </div>
                
                </div>
               
                <div class="w-25">
                    <div class="main-box">
                        <div class="first-img">
                            <a href="/product/shop"><img src="/img/tr-7.jpg" alt=""></a>
                        </div>
                        <div class="second-img">
                            <a href="/product/shop"><img src="/img/tr-7(2).jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="trending-products">
                        <h4>Large tablet</h4>
                        <p>2200$</p>
                        <div class="row tr-icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="w-25">
                    <div class="main-box">
                        <div class="first-img">
                            <a href="/product/shop"><img src="/img/tr-9.jpg" alt=""></a>
                        </div>
                        <div class="second-img">
                            <a href="/product/shop"><img src="/img/tr-9(2).jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="trending-products">
                        <h4>Mixer grinder</h4>
                        <p>1400$</p>
                        <div class="row tr-icon">
                         <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="w-25">
                    <div class="main-box">
                        <div class="first-img">
                            <a href="/product/shop"><img src="/img/tr-10.jpg" alt=""></a>
                        </div>
                        <div class="second-img">
                            <a href="/product/shop"><img src="/img/tr-10(2).jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="trending-products">
                        <h4>Notebook horizon</h4>
                        <p>2000$</p>
                        <div class="row tr-icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="w-25">
                    <div class="main-box">
                        <div class="first-img">
                            <a href="/product/shop"><img src="/img/tr-15.jpg" alt=""></a>
                        </div>
                        <div class="second-img">
                            <a href="/product/shop"><img src="/img/watch.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="trending-products">
                        <h4>Smart watch</h4>
                        <p>1800$</p>
                        <div class="row tr-icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="w-25">
                    <div class="main-box">
                        <div class="first-img">
                            <a href="/product/shop"><img src="/img/tr-12.jpg" alt=""></a>
                        </div>
                        <div class="second-img">
                            <a href="/product/shop"><img src="/img/tr-12(2).jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="trending-products">
                        <h4>Hrad drive</h4>
                        <p>800$</p>
                        <div class="row tr-icon">
                         <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="w-25">
                    <div class="main-box">
                        <div class="first-img">
                            <a href="/product/shop"><img src="/img/tr-13.jpg" alt=""></a>
                        </div>
                        <div class="second-img">
                            <a href="/product/shop"><img src="/img/tr-13(2).jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="trending-products">
                        <h4>Play game</h4>
                        <p>1500$</p>
                        <div class="row tr-icon">
                         <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
              <div class="view-more">
                <button class="view-btn"><a href="/product/shop">View More</a></button>
            </div>
        </div>
    </section>
    <!-- airbuds  -->
    <section class="airbuds-bg">
        <div class="container">
            <div class="airbuds row">
                <div class="w-50">
                    <img src="/img/airbuds.png" alt="">
                </div>
                <div class="w-50">
                    <h1>Keeping your ears safe and music loud</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error accusantium aut sunt earum eligendi, officiis nobis architecto sit repellendus, saepe repudiandae perspiciatis a excepturi rerum, minus consequuntur voluptatibus. Repellendus, suscipit!</p>
                    <div class="airbuds-btn">
                        <button class="airbuds"><a href="/product/shop">SHOP NOW</a></button>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- recent news -->
    <section>
        <div class="container">
            <div class="recent-title">
                <h2 class="recent">Recent news</h2>
            </div>
            <div class="recent-news row">
                <div class="w-33">
                    <!-- <h1>what is thechony kk ?</h1> -->
                    <img src="/img/recent-5.jpg" alt="">
                    <!-- <p>Buy used video games Wholesale Used Video Games With JJGames.com as your video game distributor you can find all the games you need and get wholesale prices.</p> -->
                     <!-- <div class="recent">
                <button class="recent-btn"><a href="/product/shop">View More</a></button> -->
            </div>
               
                <div class="w-33">
                    <!-- <h1>what is thechony kk ?</h1> -->
                    <img src="/img/recet-4.jpg" alt="">
                    <!-- <p>The names "laptop" and "notebook" refer to the fact that the computer can be practically placed on (or on top of) the user's lap and can be used similarly to a notebook.</p> -->
                     <!-- <div class="recent">
                <button class="recent-btn"><a href="/product/shop">View More</a></button> -->
            </div>
                
                <div class="w-33">
                    <!-- <h1>what is thechony kk ?</h1> -->
                    <img src="/img/recent-2.jpg" alt="">
                    <!-- <p>Electronic items are devices that operate using electrical circuits and components to perform various functions. These items encompass a wide range of products.</p> -->
                     <!-- <div class="recent">
                <button class="recent-btn"><a href="/product/shop">View More</a></button> -->
            </div>
            <div class="w-33">
                <!-- <h1>what is thechony kk ?</h1> -->
                <img src="/img/recent-6.jpg" alt="">
                <!-- <p>Buy used video games Wholesale Used Video Games With JJGames.com as your video game distributor you can find all the games you need and get wholesale prices.</p> -->
                 <!-- <div class="recent">
            <button class="recent-btn"><a href="/product/shop">View More</a></button> -->
        </div>
            
        <div class="w-33">
            <!-- <h1>what is thechony kk ?</h1> -->
            <img src="/img/recent-7.jpg" alt="">
            <!-- <p>Buy used video games Wholesale Used Video Games With JJGames.com as your video game distributor you can find all the games you need and get wholesale prices.</p> -->
             <!-- <div class="recent">
        <button class="recent-btn"><a href="/product/shop">View More</a></button> -->
    </div>
        
    <div class="w-33">
        <!-- <h1>what is thechony kk ?</h1> -->
        <img src="/img/recent-3.jpg" alt="">
        <!-- <p>Buy used video games Wholesale Used Video Games With JJGames.com as your video game distributor you can find all the games you need and get wholesale prices.</p> -->
         <!-- <div class="recent">
    <button class="recent-btn"><a href="/product/shop">View More</a></button> -->
</div>
    
        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- e-com section -->
    <section>
        <div class="facility row">
            <div class="w-25 text-center facility-main">
                <div class="icon">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="facility-content">
                    <h3>Free shipping</h3>
                    <p>Shipping in 5 days</p>
                </div>
            </div>
            <div class="w-25 text-center facility-main">
                <div class="icon">
                    <i class="fa-solid fa-gift"></i>
                </div>
                <div class="facility-content">
                    <h3>Gift voucher</h3>
                    <p>surpise coupon voucher</p>
                </div>
            </div>
            <div class="w-25 text-center facility-main">
                <div class="icon">
                    <i class="fa-solid fa-sack-dollar"></i>
                </div>
                <div class="facility-content">
                    <h3>Money back</h3>
                    <p>Refund within 30 days</p>
                </div>
            </div>
            <div class="w-25 text-center facility-main">
                <div class="icon">
                    <i class="fa-solid fa-clipboard-check"></i>
                </div>
                <div class="facility-content">
                    <h3>Safe payment</h3>
                    <p>100% secure with us</p>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>

        var dest=new Date("may 29,2025 11:00:00").getTime();
        var x= setInterval(()=>{

        var now=new Date().getTime();

        var diff= dest - now ;

        var days=Math.floor(diff/(1000*60*60*24));

        var hours=Math.floor((diff%(1000*60*60*24))/(1000*60*60));

        var minutes=Math.floor((diff%(1000*60*60))/(1000*60));

        var seconds=Math.floor((diff%(1000*60))/1000);

        document.getElementById("counter").innerHTML=days;
        document.getElementById("counter1").innerHTML=hours; 
        document.getElementById("counter2").innerHTML=minutes;    
        document.getElementById("counter3").innerHTML=seconds; 
    },1000);

    
    var swiper = new Swiper(".mySwiper", {
      pagination: {
        el: ".swiper-pagination",
        dynamicBullets: true,
      },
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },

    });

    </script>
 
    <%- include('footer') %>
</body>
</html>
