<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                
                <ul class="row align-item-center justify-between">
                    
                    <li><a href="/product/home">Home</a></li>
                    <li><a href="/product/productpage">Product</a></li>
                    <li><a href="/product/cart">cart</a></li>
                    <li><a href="/product/getuser">User</a></li>
                    <li><a href="/user/signup">SignUp</a></li>
                    <li><a href="/user/login">SignIn</a></li>
                    
                </ul>
               </nav>
          </div>
    </header>
</body>
</html>